<div class="panel panel-default" *ngIf="cidade">
  <div class="panel-heading">
      <h1>Cidade: {{cidade.id}}</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
            <th>NOME</th>
            <th>ESTADO</th>
            <th>PAÍS</th>
            <th>POPULAÇÃO</th>
            <th>AÇÕES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{cidade.nome}}</td>
          <td>{{cidade.estado}}</td>
          <td>{{cidade.pais}}</td>
          <td>{{cidade.populacao}}</td>
          <td>
            <a (click)="editCidade(cidade.id)">
              <i class="material-icons edit-link">
                  edit
              </i>
            </a>
            <a (click)="deleteCidade(cidade.id)">
              <i class="material-icons delete-link">
                  block
              </i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-link float-right" [routerLink]="['/paises']">Voltar</a>
  </div>
</div>
    