<div class="panel panel-default" *ngIf="carro">
  <div class="panel-heading">
      <h1>Carro: {{carro.id}}</h1>
  </div>
  <div class="panel-body">
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>MODELO</th>
                  <th>MARCA</th>
                  <th>ANO</th>
                  <th>CATEGORIA</th>
                  <th>AÇÕES</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>{{carro.modelo}}</td>
                <td>{{carro.marca}}</td>
                <td>{{carro.ano}}</td>
                <td>{{carro.categoria}}</td>
                <td>
                    <button (click)="editCarro(carro.id)">Editar</button>
                    <button (click)="deleteCarro(carro.id)">Deletar</button>
                </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
  