<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Países</h3>
    <div class="float-right">
      <a class="btn btn-success btn-sm" [routerLink]="['/pais-create']">+ Adicionar um País</a>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
        <thead class="thead-light">
          <tr>
              <th>ID</th>
              <th>NOME</th>
              <th>CONTINENTE</th>
              <th>POPULAÇÃO</th>
              <th>AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pais of paises">
              <td>{{pais.id}}</td>
              <td>{{pais.nome}}</td>
              <td>{{pais.continente}}</td>
              <td>{{pais.populacao}}</td>
              <td>
                  <a [routerLink]="['/pais-details', pais.id]">
                    <i class="material-icons">
                        description
                    </i>
                  </a>
              </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
      