<div class="container main">
  <div class="card" style="width: 40rem; margin-left: 240px;">
    <img class="card-img-top" src="https://images4.alphacoders.com/587/587777.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
        Seja bem-vindo ao projeto Web Service para Programação de Sistemas II
      </p>
      <p>
        O site contém a aplicação dos conceitos de CRUD de 3 Classes criadas: Carro, Cidade, País 
      </p>
      <p>
        As principais tecnologias utilizadas foram: Angular, Bootstrap e SCSS e Spring Boot  
      </p>
      <p>
        Projeto Desenvolvido por: Danielle Moura, Leonardo Eiki Oliveira, Victor Henrique
      </p>
    </div>
  </div>
</div>